<form class="authContainer" action="/auth/signup" method="post">
  <label for="username">Username: </label>
  <input type="text" name="username" id="username" placeholder="Username">
  <label for="password">Password: </label>
  <input type="password" name="password" id="password" placeholder="Password">
  <label for="email">Email: </label>
  <input type="email" name="email" id="email" placeholder="your@email.com">

  <div id="address-inputs">
    <p>Address:</p>
    <input type="text" name="street" id="street" placeholder="Street"><br>
    <input type="text" name="number" id="number" placeholder="Number">
    <input type="text" name="zip" id="zip" placeholder="ZIP">
  </div>

  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <button>Create account</button>
  <p>Already have an account? <a href="/auth/login">Login</a></p>
</form>