<div class="container">
  <label for="message">Leave a message: </label>
  <br>
  <textarea name="message" cols="80" rows="5" form="contact-form"></textarea>
  <br>
  <form action="/contact/{{userId}}/{{bookId}}" method="post" id="contact-form">
    <button type="submit">Send Email</button>
  </form>
</div>