<img src="/images/logo.png" alt="logo">
<div>
  <form action="/booksApiCall" method="get">
    <input type="text" name="bookSearch" id="bookSearch" placeholder="Enter book title or author">
    <button>
      Search
    </button>
  </form>
</div>