<div class="formContainer">
  <img id="logo" src="/images/logo.png" alt="logo">
  <form action="/booksApiCall" method="get">
    <input type="text" name="bookSearch" id="bookSearch" placeholder="Enter book title">
    <button>
      Search
    </button>
  </form>
  <div id="map"></div>
  <script src="/javascripts/main-map.js"></script>
  <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
  <script>
    axios
      .get("/allUsers")
      .then(response => {
        var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
        response.data.forEach(userInfo => {
          /* userInfo:
            user: owner.username,
            address: owner.address
            books
          */
          let addressString = `${userInfo.address.street} ${userInfo.address.number}, ${userInfo.address.PLZ}`;
          mapboxClient.geocoding
            .forwardGeocode({
              query: addressString,
              autocomplete: false,
              limit: 1
            })
            .send()
            .then(function (response) {
              if (
                response &&
                response.body &&
                response.body.features &&
                response.body.features.length
              ) {
                var feature = response.body.features[0];
                var popup = new mapboxgl.Popup({ offset: 25 }).setHTML(
                  `<strong>Books: </strong> <br> <ul>${userInfo.books} </ul><br> 
                  <strong>Owner: ${userInfo.user} </strong> <br> 
                  ${addressString}`
                );

                new mapboxgl.Marker()
                  .setLngLat(feature.center)
                  .setPopup(popup)
                  .addTo(map);
              }
            });
        });
      })
      .catch(err => {
        console.log(err);
      });
  </script>
</div>