<nav>
  <img id="logo" src="/images/logo.png" alt="logo">
  <div>
    <a href="/auth/signup">Sign Up</a>
    <a href="/auth/login">Login</a>
  </div>
</nav>

<div>
  <form action="/booksApiCall" method="get">
    <input type="text" name="bookSearch" id="bookSearch" placeholder="Enter book title or author">
    <button>
      Search
    </button>
  </form>
  <div id="map"></div>
  <script src="/javascripts/map.js"></script>
</div>