body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.hidden {
  display: none;
}

.formContainer #map,
.bookLocations #map {
  height: 500px;
  margin: 50px auto;
  width: 100%;
}

nav {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #595959;
  z-index: 100;
}
nav a {
  color: #ff847b;
  padding-right: 20px;
  font-size: 1.2em;
}
#nav-logo {
  height: 10vh;
  padding: 5px 20px;
}
#logo {
  height: 70vh;
}
.container {
  margin-top: 10vh;
}
.error-message {
  color: tomato;
  margin: 30px;
  font-weight: bold;
}
.formContainer {
  padding-top: 50px;
  text-align: center;
}
.formContainer input {
  width: 30vw;
  font-size: 1.2em;
  padding: 10px;
  border: 0.5px solid #595959;
  border-radius: 10px;
}
.formContainer button {
  font-size: 1.2em;
  padding: 10px;
  background-color: white;
  color: #ff847b;
  border: 1px solid #ff847b;
  border-radius: 10px;
}
#address-inputs {
  width: 80%;
  padding: 50px 0;
  text-align: center;
}
#address-inputs p {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
#address-inputs input {
  padding: 5px;
  margin: 5px 0;
  font-size: 1em;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}
#address-inputs #number {
  width: 4vw;
}
#address-inputs #zip {
  width: 8vw;
}

.booksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.booksContainer .big-link {
  width: 30%;
  border: 1px solid #595959;
  border-radius: 20px;
  text-decoration: none;
  margin-bottom: 20px;
}
.bookCard {
  text-align: center;
}
.book-cover-placeholder {
  width: 92px;
  margin: 20px auto;
}

.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ff847b;
  width: 40vw;
  padding: 50px 0px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
}
.authContainer label {
  font-size: 1.5em;
  padding: 10px;
}
.authContainer input {
  width: 30vw;
  font-size: 1.2em;
  padding: 10px;
  border: 0.5px solid #595959;
  border-radius: 10px;
}
.authContainer button {
  font-size: 1.2em;
  padding: 10px;
  background-color: white;
  color: #ff847b;
  border: 1px solid #ff847b;
  border-radius: 10px;
  margin: 10px;
}

.bookDetailedView {
  display: flex;
  justify-content: space-evenly;
}
.bookDetails,
.bookLocations {
  width: 40%;
}
.bookDetails .info-key {
  font-weight: bold;
}
.add-to-your-books-btn {
  height: 30px;
  border-radius: 4px;
  font-size: 11pt;
  border: 1px solid #595959;
  background-color: #ff847b;
  margin-bottom: 10px;
}
.borrow-book-btn {
  height: 30px;
  border-radius: 4px;
  font-size: 11pt;
  border: 1px solid #595959;
  background-color: #ff847b;
}
.userInfo {
  width: 25%;
  border: 1px solid #ff847b;
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.profileBookSearch {
  padding: 20px 0px;
}
.profileBookSearch input {
  width: 30vw;
  font-size: 1.2em;
  padding: 10px;
  border: 0.5px solid #595959;
  border-radius: 10px;
}
.profileBookSearch button {
  font-size: 1.2em;
  padding: 10px;
  background-color: white;
  color: #ff847b;
  border: 1px solid #ff847b;
  border-radius: 10px;
}
#delete {
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px;
  background-color: white;
  color: #ff847b;
  border: 1px solid #ff847b;
  border-radius: 10px;
}
.profileBooksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.profileBooksContainer a {
  text-decoration: none;
}
.profileBooks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border: 1px solid #595959;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
}
